# URL pública do backend

# Desenvolvimento local:
VITE_API_URL=http://127.0.0.1:8000

# Na AWS, substituir pela URL do API Gateway.
# Exemplo:
# VITE_API_URL=https://xxxxxxxxxx.execute-api.us-east-1.amazonaws.com
